openapi: 3.2.0
info:
  title: Copper Co Lending API
  version: latest
  description: 'Operations tagged lending across 2 of this provider''s published API definitions: copper-co-lending-openapi.json, copper-co-platform-openapi.json. Each path carries the servers of the definition it was published in.'
servers:
- description: platform.copper.co
  url: https://api.copper.co/platform
- description: demo.copper.co
  url: https://api.stage.copper.co/platform
- description: testnet.copper.co
  url: https://api.testnet.copper.co/platform
tags:
- name: lending
paths:
  /organizations/{organizationId}/loans:
    servers:
    - description: platform.copper.co
      url: https://api.copper.co/platform
    - description: demo.copper.co
      url: https://api.stage.copper.co/platform
    - description: testnet.copper.co
      url: https://api.testnet.copper.co/platform
    get:
      description: Retrieve loans
      parameters:
      - description: The account to filter by
        in: query
        name: portfolioId
        required: false
        schema:
          type: string
      - in: query
        name: loanIds
        required: false
        schema:
          items:
            type: string
          type: array
      - description: The loan side to filter by. [See details](/enums/LoanSide)
        example:
        - lend
        in: query
        name: loanSide
        required: false
        schema:
          $ref: '#/components/schemas/LoanSide'
          type: string
      - description: '[See details](/enums/LoanType)'
        in: query
        name: loanTypes
        required: false
        schema:
          items:
            $ref: '#/components/schemas/LoanType'
          type: array
      - description: The loan status to filter by. [See details](/enums/LoanStatus)
        example:
        - disbursing,active
        in: query
        name: statuses
        required: false
        schema:
          items:
            $ref: '#/components/schemas/LoanStatus'
          type: array
      - description: Flag to filter out open loans
        in: query
        name: isOpen
        required: false
        schema:
          default: 'false'
          type: boolean
      - description: Flag indicating if collaterals should be included in embedded
        in: query
        name: includeCollaterals
        required: false
        schema:
          default: 'false'
          type: boolean
      - description: Flag indicating if counterparties should be included in embedded
        in: query
        name: includeCounterparties
        required: false
        schema:
          default: 'false'
          type: boolean
      - description: The number of loans to include in the response
        in: query
        name: limit
        required: false
        schema:
          type: string
      - description: The number of loans to skip in the response
        in: query
        name: offset
        required: false
        schema:
          type: string
      - description: 'The field to sort by. Currently supported: updatedAt'
        in: query
        name: sortBy
        required: false
        schema:
          default: LoanStatus by relevance
          type: string
      - description: The direction to sort by - must be used in conjunction with sortBy. [See details](/enums/SortingDirection)
        in: query
        name: sortDirection
        required: false
        schema:
          $ref: '#/components/schemas/SortingDirection'
          default: desc
          type: string
      - in: path
        name: organizationId
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Loans'
          description: OK
        '400':
          content:
            application/json:
              schema:
                properties:
                  error:
                    description: The machine-readable error code
                    examples:
                    - bad-request
                    type: string
                  message:
                    description: A human-readable message providing more details about the error
                    type: string
                type: object
          description: Bad Request
        '403':
          content:
            application/json:
              schema:
                properties:
                  error:
                    description: The machine-readable error code
                    examples:
                    - forbidden
                    type: string
                  message:
                    description: A human-readable message providing more details about the error
                    type: string
                type: object
          description: Forbidden
        '409':
          content:
            application/json:
              schema:
                properties:
                  error:
                    description: The machine-readable error code
                    examples:
                    - conflict
                    type: string
                  message:
                    description: A human-readable message providing more details about the error
                    type: string
                type: object
          description: Conflict
      summary: Get Loans
      tags:
      - lending
    post:
      description: Initiate loan creation. This action can only be carried out by the lender.
      parameters:
      - in: path
        name: organizationId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateLoan'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Loan'
          description: OK
        '400':
          content:
            application/json:
              schema:
                properties:
                  error:
                    description: The machine-readable error code
                    examples:
                    - bad-request
                    type: string
                  message:
                    description: A human-readable message providing more details about the error
                    type: string
                type: object
          description: Bad Request
        '403':
          content:
            application/json:
              schema:
                properties:
                  error:
                    description: The machine-readable error code
                    examples:
                    - forbidden
                    type: string
                  message:
                    description: A human-readable message providing more details about the error
                    type: string
                type: object
          description: Forbidden
        '409':
          content:
            application/json:
              schema:
                properties:
                  error:
                    description: The machine-readable error code
                    examples:
                    - conflict
                    type: string
                  message:
                    description: A human-readable message providing more details about the error
                    type: string
                type: object
          description: Conflict
      summary: Create Loan
      tags:
      - lending
    patch:
      description: Obtain the loan LTV or needed collateral amount for given loan parameters.
      parameters:
      - description: application/vnd.calculate-ltv-dry-run+json
        in: header
        name: Content-Type
        required: false
        schema:
          type: string
      - in: path
        name: organizationId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/vnd.calculate-ltv-dry-run+json:
            schema:
              $ref: '#/components/schemas/CalculateLtvDryRun'
      responses:
        '200':
          content:
            application/vnd.calculate-ltv-dry-run+json:
              schema:
                $ref: '#/components/schemas/LtvDryRunResult'
          description: OK
        '400':
          content:
            application/json:
              schema:
                properties:
                  error:
                    description: The machine-readable error code
                    examples:
                    - bad-request
                    type: string
                  message:
                    description: A human-readable message providing more details about the error
                    type: string
                type: object
          description: Bad Request
        '403':
          content:
            application/json:
              schema:
                properties:
                  error:
                    description: The machine-readable error code
                    examples:
                    - forbidden
                    type: string
                  message:
                    description: A human-readable message providing more details about the error
                    type: string
                type: object
          description: Forbidden
        '409':
          content:
            application/json:
              schema:
                properties:
                  error:
                    description: The machine-readable error code
                    examples:
                    - conflict
                    type: string
                  message:
                    description: A human-readable message providing more details about the error
                    type: string
                type: object
          description: Conflict
      summary: Calculate Loan LTV Dry Run
      tags:
      - lending
  /organizations/{organizationId}/loans/{acceptExtensionLoanId}:
    servers:
    - description: platform.copper.co
      url: https://api.copper.co/platform
    - description: demo.copper.co
      url: https://api.stage.copper.co/platform
    - description: testnet.copper.co
      url: https://api.testnet.copper.co/platform
    patch:
      description: Accept the loan term extension request. Only requests that were initiated by the counterparty can be accepted.
      parameters:
      - description: application/vnd.accept-loan-term-extension+json
        in: header
        name: Content-Type
        required: false
        schema:
          type: string
      - in: path
        name: organizationId
        required: true
        schema:
          type: string
      - in: path
        name: acceptExtensionLoanId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/vnd.accept-loan-term-extension+json:
            schema:
              $ref: '#/components/schemas/ExtendLoan'
      responses:
        '200':
          content:
            application/vnd.accept-loan-term-extension+json:
              schema:
                $ref: '#/components/schemas/Loan'
          description: OK
        '400':
          content:
            application/json:
              schema:
                properties:
                  error:
                    description: The machine-readable error code
                    examples:
                    - bad-request
                    type: string
                  message:
                    description: A human-readable message providing more details about the error
                    type: string
                type: object
          description: Bad Request
        '403':
          content:
            application/json:
              schema:
                properties:
                  error:
                    description: The machine-readable error code
                    examples:
                    - forbidden
                    type: string
                  message:
                    description: A human-readable message providing more details about the error
                    type: string
                type: object
          description: Forbidden
        '409':
          content:
            application/json:
              schema:
                properties:
                  error:
                    description: The machine-readable error code
                    examples:
                    - conflict
                    type: string
                  message:
                    description: A human-readable message providing more details about the error
                    type: string
                type: object
          description: Conflict
      summary: Accept Loan Term Extension
      tags:
      - lending
  /organizations/{organizationId}/loans/{acceptInterestLoanId}:
    servers:
    - description: platform.copper.co
      url: https://api.copper.co/platform
    - description: demo.copper.co
      url: https://api.stage.copper.co/platform
    - description: testnet.copper.co
      url: https://api.testnet.copper.co/platform
    patch:
      description: Accept the loan interest payment request.
      parameters:
      - description: application/vnd.accept-interest-payment+json
        in: header
        name: Content-Type
        required: false
        schema:
          type: string
      - in: path
        name: organizationId
        required: true
        schema:
          type: string
      - in: path
        name: acceptInterestLoanId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/vnd.accept-interest-payment+json:
            schema:
              $ref: '#/components/schemas/InterestPaymentAction'
      responses:
        '200':
          content:
            application/vnd.accept-interest-payment+json:
              schema:
                $ref: '#/components/schemas/Loan'
          description: OK
        '400':
          content:
            application/json:
              schema:
                properties:
                  error:
                    description: The machine-readable error code
                    examples:
                    - bad-request
                    type: string
                  message:
                    description: A human-readable message providing more details about the error
                    type: string
                type: object
          description: Bad Request
        '403':
          content:
            application/json:
              schema:
                properties:
                  error:
                    description: The machine-readable error code
                    examples:
                    - forbidden
                    type: string
                  message:
                    description: A human-readable message providing more details about the error
                    type: string
                type: object
          description: Forbidden
        '409':
          content:
            application/json:
              schema:
                properties:
                  error:
                    description: The machine-readable error code
                    examples:
                    - conflict
                    type: string
                  message:
                    description: A human-readable message providing more details about the error
                    type: string
                type: object
          description: Conflict
      summary: Accept Loan Interest Payment
      tags:
      - lending
  /organizations/{organizationId}/loans/{acceptLoanId}:
    servers:
    - description: platform.copper.co
      url: https://api.copper.co/platform
    - description: demo.copper.co
      url: https://api.stage.copper.co/platform
    - description: testnet.copper.co
      url: https://api.testnet.copper.co/platform
    patch:
      description: Accept a loan. This action can only be carried out by the borrower.
      parameters:
      - description: application/vnd.accept-loan+json
        in: header
        name: Content-Type
        required: false
        schema:
          type: string
      - in: path
        name: organizationId
        required: true
        schema:
          type: string
      - in: path
        name: acceptLoanId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/vnd.accept-loan+json:
            schema:
              $ref: '#/components/schemas/AcceptLoan'
      responses:
        '200':
          content:
            application/vnd.accept-loan+json:
              schema:
                $ref: '#/components/schemas/Loan'
          description: OK
        '400':
          content:
            application/json:
              schema:
                properties:
                  error:
                    description: The machine-readable error code
                    examples:
                    - bad-request
                    type: string
                  message:
                    description: A human-readable message providing more details about the error
                    type: string
                type: object
          description: Bad Request
        '403':
          content:
            application/json:
              schema:
                properties:
                  error:
                    description: The machine-readable error code
                    examples:
                    - forbidden
                    type: string
                  message:
                    description: A human-readable message providing more details about the error
                    type: string
                type: object
          description: Forbidden
        '409':
          content:
            application/json:
              schema:
                properties:
                  error:
                    description: The machine-readable error code
                    examples:
                    - conflict
                    type: string
                  message:
                    description: A human-readable message providing more details about the error
                    type: string
                type: object
          description: Conflict
      summary: Accept Loan
      tags:
      - lending
  /organizations/{organizationId}/loans/{acceptRebalanceLoanId}:
    servers:
    - description: platform.copper.co
      url: https://api.copper.co/platform
    - description: demo.copper.co
      url: https://api.stage.copper.co/platform
    - description: testnet.copper.co
      url: https://api.testnet.copper.co/platform
    patch:
      description: Accept the loan rebalance request. Only a lender can carry out this action.
      parameters:
      - description: application/vnd.accept-loan-rebalance+json
        in: header
        name: Content-Type
        required: false
        schema:
          type: string
      - in: path
        name: organizationId
        required: true
        schema:
          type: string
      - in: path
        name: acceptRebalanceLoanId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/vnd.accept-loan-rebalance+json:
            schema:
              $ref: '#/components/schemas/ActionLoan'
      responses:
        '200':
          content:
            application/vnd.accept-loan-rebalance+json:
              schema:
                $ref: '#/components/schemas/Loan'
          description: OK
        '400':
          content:
            application/json:
              schema:
                properties:
                  error:
                    description: The machine-readable error code
                    examples:
                    - bad-request
                    type: string
                  message:
                    description: A human-readable message providing more details about the error
                    type: string
                type: object
          description: Bad Request
        '403':
          content:
            application/json:
              schema:
                properties:
                  error:
                    description: The machine-readable error code
                    examples:
                    - forbidden
                    type: string
                  message:
                    description: A human-readable message providing more details about the error
                    type: string
                type: object
          description: Forbidden
        '409':
          content:
            application/json:
              schema:
                properties:
                  error:
                    description: The machine-readable error code
                    examples:
                    - conflict
                    type: string
                  message:
                    description: A human-readable message providing more details about the error
                    type: string
                type: object
          description: Conflict
      summary: Accept Loan Rebalance
      tags:
      - lending
  /organizations/{organizationId}/loans/{acceptRepaymentLoanId}:
    servers:
    - description: platform.copper.co
      url: https://api.copper.co/platform
    - description: demo.copper.co
      url: https://api.stage.copper.co/platform
    - description: testnet.copper.co
      url: https://api.testnet.copper.co/platform
    patch:
      description: Accept the full or partial loan repayment request. Only requests that were initiated by the counterparty can be accepted.
      parameters:
      - description: application/vnd.accept-loan-repayment+json
        in: header
        name: Content-Type
        required: false
        schema:
          type: string
      - in: path
        name: organizationId
        required: true
        schema:
          type: string
      - in: path
        name: acceptRepaymentLoanId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/vnd.accept-loan-repayment+json:
            schema:
              $ref: '#/components/schemas/RepayLoan'
      responses:
        '200':
          content:
            application/vnd.accept-loan-repayment+json:
              schema:
                $ref: '#/components/schemas/Loan'
          description: OK
        '400':
          content:
            application/json:
              schema:
                properties:
                  error:
                    description: The machine-readable error code
                    examples:
                    - bad-request
                    type: string
                  message:
                    description: A human-readable message providing more details about the error
                    type: string
                type: object
          description: Bad Request
        '403':
          content:
            application/json:
              schema:
                properties:
                  error:
                    description: The machine-readable error code
                    examples:
                    - forbidden
                    type: string
                  message:
                    description: A human-readable message providing more details about the error
                    type: string
                type: object
          description: Forbidden
        '409':
          content:
            application/json:
              schema:
                properties:
                  error:
                    description: The machine-readable error code
                    examples:
                    - conflict
                    type: string
                  message:
                    description: A human-readable message providing more details about the error
                    type: string
                type: object
          description: Conflict
      summary: Accept Loan Repayment
      tags:
      - lending
  /organizations/{organizationId}/loans/{acceptRerateLoanId}:
    servers:
    - description: platform.copper.co
      url: https://api.copper.co/platform
    - description: demo.copper.co
      url: https://api.stage.copper.co/platform
    - description: testnet.copper.co
      url: https://api.testnet.copper.co/platform
    patch:
      description: Accept the loan interest rerate request. Only the borrower can carry out this action.
      parameters:
      - description: application/vnd.accept-loan-rerate+json
        in: header
        name: Content-Type
        required: false
        schema:
          type: string
      - in: path
        name: organizationId
        required: true
        schema:
          type: string
      - in: path
        name: acceptRerateLoanId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/vnd.accept-loan-rerate+json:
            schema:
              $ref: '#/components/schemas/LoanModificationAction'
      responses:
        '200':
          content:
            application/vnd.accept-loan-rerate+json:
              schema:
                $ref: '#/components/schemas/Loan'
          description: OK
        '400':
          content:
            application/json:
              schema:
                properties:
                  error:
                    description: The machine-readable error code
                    examples:
                    - bad-request
                    type: string
                  message:
                    description: A human-readable message providing more details about the error
                    type: string
                type: object
          description: Bad Request
        '403':
          content:
            application/json:
              schema:
                properties:
                  error:
                    description: The machine-readable error code
                    examples:
                    - forbidden
                    type: string
                  message:
                    description: A human-readable message providing more details about the error
                    type: string
                type: object
          description: Forbidden
        '409':
          content:
            application/json:
              schema:
                properties:
                  error:
                    description: The machine-readable error code
                    examples:
                    - conflict
                    type: string
                  message:
                    description: A human-readable message providing more details about the error
                    type: string
                type: object
          description: Conflict
      summary: Accept Loan Rerate
      tags:
      - lending
  /organizations/{organizationId}/loans/{acceptTopUpLoanId}:
    servers:
    - description: platform.copper.co
      url: https://api.copper.co/platform
    - description: demo.copper.co
      url: https://api.stage.copper.co/platform
    - description: testnet.copper.co
      url: https://api.testnet.copper.co/platform
    patch:
      description: Accept the loan top up request. Only a borrower can carry out this action.
      parameters:
      - description: application/vnd.accept-loan-top-up+json
        in: header
        name: Content-Type
        required: false
        schema:
          type: string
      - in: path
        name: organizationId
        required: true
        schema:
          type: string
      - in: path
        name: acceptTopUpLoanId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/vnd.accept-loan-top-up+json:
            schema:
              $ref: '#/components/schemas/ActionLoan'
      responses:
        '200':
          content:
            application/vnd.accept-loan-top-up+json:
              schema:
                $ref: '#/components/schemas/Loan'
          description: OK
        '400':
          content:
            application/json:
              schema:
                properties:
                  error:
                    description: The machine-readable error code
                    examples:
                    - bad-request
                    type: string
                  message:
                    description: A human-readable message providing more details about the error
                    type: string
                type: object
          description: Bad Request
        '403':
          content:
            application/json:
              schema:
                properties:
                  error:
                    description: The machine-readable error code
                    examples:
                    - forbidden
                    type: string
                  message:
                    description: A human-readable message providing more details about the error
                    type: string
                type: object
          description: Forbidden
        '409':
          content:
            application/json:
              schema:
                properties:
                  error:
                    description: The machine-readable error code
                    examples:
                    - conflict
                    type: string
                  message:
                    description: A human-readable message providing more details about the error
                    type: string
                type: object
          description: Conflict
      summary: Accept Loan Top Up
      tags:
      - lending
  /organizations/{organizationId}/loans/{approveLoanId}:
    servers:
    - description: platform.copper.co
      url: https://api.copper.co/platform
    - description: demo.copper.co
      url: https://api.stage.copper.co/platform
    - description: testnet.copper.co
      url: https://api.testnet.copper.co/platform
    patch:
      description: Approve a loan. This action can only be carried out by the lender if a loan is in awaiting-approval state.
      parameters:
      - description: application/vnd.approve-loan+json
        in: header
        name: Content-Type
        required: false
        schema:
          type: string
      - in: path
        name: organizationId
        required: true
        schema:
          type: string
      - in: path
        name: approveLoanId
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/vnd.approve-loan+json:
              schema:
                $ref: '#/components/schemas/Loan'
          description: OK
        '400':
          content:
            application/json:
              schema:
                properties:
                  error:
                    description: The machine-readable error code
                    examples:
                    - bad-request
                    type: string
                  message:
                    description: A human-readable message providing more details about the error
                    type: string
                type: object
          description: Bad Request
        '403':
          content:
            application/json:
              schema:
                properties:
                  error:
                    description: The machine-readable error code
                    examples:
                    - forbidden
                    type: string
                  message:
                    description: A human-readable message providing more details about the error
                    type: string
                type: object
          description: Forbidden
        '409':
          content:
            application/json:
              schema:
                properties:
                  error:
                    description: The machine-readable error code
                    examples:
                    - conflict
                    type: string
                  message:
                    description: A human-readable message providing more details about the error
                    type: string
                type: object
          description: Conflict
      summary: Approve Loan
      tags:
      - lending
  /organizations/{organizationId}/loans/{cancelExtensionLoanId}:
    servers:
    - description: platform.copper.co
      url: https://api.copper.co/platform
    - description: demo.copper.co
      url: https://api.stage.copper.co/platform
    - description: testnet.copper.co
      url: https://api.testnet.copper.co/platform
    patch:
      description: Cancel the loan term extensino request. This action can be carried out by the borrower or the lender.
      parameters:
      - description: application/vnd.cancel-loan-term-extension+json
        in: header
        name: Content-Type
        required: false
        schema:
          type: string
      - in: path
        name: organizationId
        required: true
        schema:
          type: string
      - in: path
        name: cancelExtensionLoanId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/vnd.cancel-loan-term-extension+json:
            schema:
              $ref: '#/components/schemas/ExtendLoan'
      responses:
        '200':
          content:
            application/vnd.cancel-loan-term-extension+json:
              schema:
                $ref: '#/components/schemas/Loan'
          description: OK
        '400':
          content:
            application/json:
              schema:
                properties:
                  error:
                    description: The machine-readable error code
                    examples:
                    - bad-request
                    type: string
                  message:
                    description: A human-readable message providing more details about the error
                    type: string
                type: object
          description: Bad Request
        '403':
          content:
            application/json:
              schema:
                properties:
                  error:
                    description: The machine-readable error code
                    examples:
                    - forbidden
                    type: string
                  message:
                    description: A human-readable message providing more details about the error
                    type: string
                type: object
          description: Forbidden
        '409':
          content:
            application/json:
              schema:
                properties:
                  error:
                    description: The machine-readable error code
                    examples:
                    - conflict
                    type: string
                  message:
                    description: A human-readable message providing more details about the error
                    type: string
                type: object
          description: Conflict
      summary: Cancel Loan Term Extension
      tags:
      - lending
  /organizations/{organizationId}/loans/{cancelInterestLoanId}:
    servers:
    - description: platform.copper.co
      url: https://api.copper.co/platform
    - description: demo.copper.co
      url: https://api.stage.copper.co/platform
    - description: testnet.copper.co
      url: https://api.testnet.copper.co/platform
    patch:
      description: Cancel the loan interest payment request that is awaiting acceptance. This action can be carried out by the lender or the borrower.
      parameters:
      - description: application/vnd.cancel-interest-payment+json
        in: header
        name: Content-Type
        required: false
        schema:
          type: string
      - in: path
        name: organizationId
        required: true
        schema:
          type: string
      - in: path
        name: cancelInterestLoanId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/vnd.cancel-interest-payment+json:
            schema:
              $ref: '#/components/schemas/InterestPaymentAction'
      responses:
        '200':
          content:
            application/vnd.cancel-interest-payment+json:
              schema:
                $ref: '#/components/schemas/Loan'
          description: OK
        '400':
          content:
            application/json:
              schema:
                properties:
                  error:
                    description: The machine-readable error code
                    examples:
                    - bad-request
                    type: string
                  message:
                    description: A human-readable message providing more details about the error
                    type: string
                type: object
          description: Bad Request
        '403':
          content:
            application/json:
              schema:
                properties:
                  error:
                    description: The machine-readable error code
                    examples:
                    - forbidden
                    type: string
                  message:
                    description: A human-readable message providing more details about the error
                    type: string
                type: object
          description: Forbidden
        '409':
          content:
            application/json:
              schema:
                properties:
                  error:
                    description: The machine-readable error code
                    examples:
                    - conflict
                    type: string
                  message:
                    description: A human-readable message providing more details about the error
                    type: string
                type: object
          description: Conflict
      summary: Cancel Loan Interest Payment
      tags:
      - lending
  /organizations/{organizationId}/loans/{cancelLoanId}:
    servers:
    - description: platform.copper.co
      url: https://api.copper.co/platform
    - description: demo.copper.co
      url: https://api.stage.copper.co/platform
    - description: testnet.copper.co
      url: https://api.testnet.copper.co/platform
    patch:
      description: Cancel a loan that is awaiting acceptance. This action can be carried out by the lender or the borrower.
      parameters:
      - description: application/vnd.cancel-loan+json
        in: header
        name: Content-Type
        required: false
        schema:
          type: string
      - in: path
        name: organizationId
        required: true
        schema:
          type: string
      - in: path
        name: cancelLoanId
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/vnd.cancel-loan+json:
              schema:
                $ref: '#/components/schemas/Loan'
          description: OK
        '400':
          content:
            application/json:
              schema:
                properties:
                  error:
                    description: The machine-readable error code
                    examples:
                    - bad-request
                    type: string
                  message:
                    description: A human-readable message providing more details about the error
                    type: string
                type: object
          description: Bad Request
        '403':
          content:
            application/json:
              schema:
                properties:
                  error:
                    description: The machine-readable error code
                    examples:
                    - forbidden
                    type: string
                  message:
                    description: A human-readable message providing more details about the error
                    type: string
                type: object
          description: Forbidden
        '409':
          content:
            application/json:
              schema:
                properties:
                  error:
                    description: The machine-readable error code
                    examples:
                    - conflict
                    type: string
                  message:
                    description: A human-readable message providing more details about the error
                    type: string
                type: object
          description: Conflict
      summary: Cancel Loan
      tags:
      - lending
  /organizations/{organizationId}/loans/{cancelRebalanceLoanId}:
    servers:
    - description: platform.copper.co
      url: https://api.copper.co/platform
    - description: demo.copper.co
      url: https://api.stage.copper.co/platform
    - description: testnet.copper.co
      url: https://api.testnet.copper.co/platform
    patch:
      description: Cancel the loan rebalance request that is awaiting acceptance. This action can be carried out by the lender or the borrower.
      parameters:
      - description: application/vnd.cancel-loan-rebalance+json
        in: header
        name: Content-Type
        required: false
        schema:
          type: string
      - in: path
        name: organizationId
        required: true
        schema:
          type: string
      - in: path
        name: cancelRebalanceLoanId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/vnd.cancel-loan-rebalance+json:
            schema:
              $ref: '#/components/schemas/ActionLoan'
      responses:
        '200':
          content:
            application/vnd.cancel-loan-rebalance+json:
              schema:
                $ref: '#/components/schemas/Loan'
          description: OK
        '400':
          content:
            application/json:
              schema:
                properties:
                  error:
                    description: The machine-readable error code
                    examples:
                    - bad-request
                    type: string
                  message:
                    description: A human-readable message providing more details about the error
                    type: string
                type: object
          description: Bad Request
        '403':
          content:
            application/json:
              schema:
                properties:
                  error:
                    description: The machine-readable error code
                    examples:
                    - forbidden
                    type: string
                  message:
                    description: A human-readable message providing more details about the error
                    type: string
                type: object
          description: Forbidden
        '409':
          content:
            application/json:
              schema:
                properties:
                  error:
                    description: The machine-readable error code
                    examples:
                    - conflict
                    type: string
                  message:
                    description: A human-readable message providing more details about the error
                    type: string
                type: object
          description: Conflict
      summary: Cancel Loan Rebalance
      tags:
      - lending
  /organizations/{organizationId}/loans/{cancelRepaymentLoanId}:
    servers:
    - description: platform.copper.co
      url: https://api.copper.co/platform
    - description: demo.copper.co
      url: https://api.stage.copper.co/platform
    - description: testnet.copper.co
      url: https://api.testnet.copper.co/platform
    patch:
      description: Cancel the full or partial loan repayment. This action can be carried out by the borrower or the lender.
      parameters:
      - description: application/vnd.cancel-loan-repayment+json
        in: header
        name: Content-Type
        required: false
        schema:
          type: string
      - in: path
        name: organizationId
        required: true
        schema:
          type: string
      - in: path
        name: cancelRepaymentLoanId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/vnd.cancel-loan-repayment+json:
            schema:
              $ref: '#/components/schemas/RepayLoan'
      responses:
        '200':
          content:
            application/vnd.cancel-loan-repayment+json:
              schema:
                $ref: '#/components/schemas/Loan'
          description: OK
        '400':
          content:
            application/json:
              schema:
                properties:
                  error:
                    description: The machine-readable error code
                    examples:
                    - bad-request
                    type: string
                  message:
                    description: A human-readable message providing more details about the error
                    type: string
                type: object
          description: Bad Request
        '403':
          content:
            application/json:
              schema:
                properties:
                  error:
                    description: The machine-readable error code
                    examples:
                    - forbidden
                    type: string
                  message:
                    description: A human-readable message providing more details about the error
                    type: string
                type: object
          description: Forbidden
        '409':
          content:
            application/json:
              schema:
                properties:
                  error:
                    description: The machine-readable error code
                    examples:
                    - conflict
                    type: string
                  message:
                    description: A human-readable message providing more details about the error
                    type: string
                type: object
          description: Conflict
      summary: Cancel Loan Repayment
      tags:
      - lending
  /organizations/{organizationId}/loans/{cancelRerateLoanId}:
    servers:
    - description: platform.copper.co
      url: https://api.copper.co/platform
    - description: demo.copper.co
      url: https://api.stage.copper.co/platform
    - description: testnet.copper.co
      url: https://api.testnet.copper.co/platform
    patch:
      description: Cancel the loan interest rerate request that is awaiting acceptance. This action can be carried out by the lender or the borrower.
      parameters:
      - description: application/vnd.cancel-loan-rerate+json
        in: header
        name: Content-Type
        required: false
        schema:
          type: string
      - in: path
        name: organizationId
        required: true
        schema:
          type: string
      - in: path
        name: cancelRerateLoanId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/vnd.cancel-loan-rerate+json:
            schema:
              $ref: '#/components/schemas/LoanModificationAction'
      responses:
        '200':
          content:
            application/vnd.cancel-loan-rerate+json:
              schema:
                $ref: '#/components/schemas/Loan'
          description: OK
        '400':
          content:
            application/json:
              schema:
                properties:
                  error:
                    description: The machine-readable error code
                    examples:
                    - bad-request
                    type: string
                  message:
                    description: A human-readable message providing more details about the error
                    type: string
                type: object
          description: Bad Request
        '403':
          content:
            application/json:
              schema:
                properties:
                  error:
                    description: The machine-readable error code
                    examples:
                    - forbidden
                    type: string
                  message:
                    description: A human-readable message providing more details about the error
                    type: string
                type: object
          description: Forbidden
        '409':
          content:
            application/json:
              schema:
                properties:
                  error:
                    description: The machine-readable error code
                    examples:
                    - conflict
                    type: string
                  message:
                    description: A human-readable message providing more details about the error
                    type: string
                type: object
          description: Conflict
      summary: Cancel Loan Rerate
      tags:
      - lending
  /organizations/{organizationId}/loans/{cancelTopUpLoanId}:
    servers:
    - description: platform.copper.co
      url: https://api.copper.co/platform
    - description: demo.copper.co
      url: https://api.stage.copper.co/platform
    - description: testnet.copper.co
      url: https://api.testnet.copper.co/platform
    patch:
      description: Cancel the loan top up request that is awaiting acceptance. This action can be carried out by the lender or the borrower.
      parameters:
      - description: application/vnd.cancel-loan-top-up+json
        in: header
        name: Content-Type
        required: false
        schema:
          type: string
      - in: path
        name: organizationId
        required: true
        schema:
          type: string
      - in: path
        name: cancelTopUpLoanId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/vnd.cancel-loan-top-up+json:
            schema:
              $ref: '#/components/schemas/ActionLoan'
      responses:
        '200':
          content:
            application/vnd.cancel-loan-top-up+json:
              schema:
                $ref: '#/components/schemas/Loan'
          description: OK
        '400':
          content:
            application/json:
              schema:
                properties:
                  error:
                    description: The machine-readable error code
                    examples:
                    - bad-request
                    type: string
                  message:
                    description: A human-readable message providing more details about the error
                    type: string
                type: object
          description: Bad Request
        '403':
          content:
            application/json:
              schema:
                properties:
                  error:
                    description: The machine-readable error code
                    examples:
                    - forbidden
                    type: string
                  message:
                    description: A human-readable message providing more details about the error
                    type: string
                type: object
          description: Forbidden
        '409':
          content:
            application/json:
              schema:
                properties:
                  error:
                    description: The machine-readable error code
                    examples:
                    - conflict
                    type: string
                  message:
                    description: A human-readable message providing more details about the error
                    type: string
                type: object
          description: Conflict
      summary: Cancel Loan Top Up
      tags:
      - lending
  /organizations/{organizationId}/loans/{confirmDisbursementLoanId}:
    servers:
    - description: platform.copper.co
      url: https://api.copper.co/platform
    - description: demo.copper.co
      url: https://api.stage.copper.co/platform
    - description: testnet.copper.co
      url: https://api.testnet.copper.co/platform
    patch:
      description: Confirm the external disbursement of an off-platform managed loan. Only the lender can carry out this action.
      parameters:
      - description: application/vnd.confirm-external-disbursement+json
        in: header
        name: Content-Type
        required: false
        schema:
          type: string
      - in: path
        name: organizationId
        required: true
        schema:
          type: string
      - in: path
        name: confirmDisbursementLoanId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/vnd.confirm-external-disbursement+json:
            schema:
              $ref: '#/components/schemas/ActionLoan'
      responses:
        '200':
          content:
            application/vnd.confirm-external-disbursement+json:
              schema:
                $ref: '#/components/schemas/Loan'
          description: OK
        '400':
          content:
            application/json:
              schema:
                properties:
                  error:
                    description: The machine-readable error code
                    examples:
                    - bad-request
                    type: string
                  message:
                    description: A human-readable message providing more details about the error
                    type: string
                type: object
          description: Bad Request
        '403':
          content:
            application/json:
              schema:
                properties:
                  error:
                    description: The machine-readable error code
                    examples:
                    - forbidden
                    type: string
                  message:
                    description: A human-readable message providing more details about the error
                    type: string
                type: object
          description: Forbidden
        '409':
          content:
            application/json:
              schema:
                properties:
                  error:
                    description: The machine-readable error code
                    examples:
                    - conflict
                    type: string
                  message:
                    description: A human-readable message providing more details about the error
                    type: string
                type: object
          description: Conflict
      summary: Confirm External Disbursement
      tags:
      - lending
  /organizations/{organizationId}/loans/{confirmInterestLoanId}:
    servers:
    - description: platform.copper.co
      url: https://api.copper.co/platform
    - description: demo.copper.co
      url: https://api.stage.copper.co/platform
    - description: testnet.copper.co
      url: https://api.testnet.copper.co/platform
    patch:
      description: Confirm the external payment of interest. Only the lender can carry out this action.
      parameters:
      - description: application/vnd.confirm-external-interest-payment+json
        in: header
        name: Content-Type
        required: false
        schema:
          type: string
      - in: path
        name: organizationId
        required: true
        schema:
          type: string
      - in: path
        name: confirmInterestLoanId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/vnd.confirm-external-interest-payment+json:
            schema:
              $ref: '#/components/schemas/InterestPaymentAction'
      responses:
        '200':
          content:
            application/vnd.confirm-external-interest-payment+json:
              schema:
                $ref: '#/components/schemas/Loan'
          description: OK
        '400':
          content:
            application/json:
              schema:
                properties:
                  error:
                    description: The machine-readable error code
                    examples:
                    - bad-request
                    type: string
                  message:
                    description: A human-readable message providing more details about the error
                    type: string
                type: object
          description: Bad Request
        '403':
          content:
            application/json:
              schema:
                properties:
                  error:
                    description: The machine-readable error code
                    examples:
                    - forbidden
                    type: string
                  message:
                    description: A human-readable message providing more details about the error
                    type: string
                type: object
          description: Forbidden
        '409':
          content:
            application/json:
              schema:
                properties:
                  error:
                    description: The machine-readable error code
                    examples:
                    - conflict
                    type: string
                  message:
                    description: A human-readable message providing more details about the error
                    type: string
                type: object
          description: Conflict
      summary: Confirm External Interest Payment
      tags:
      - lending
  /organizations/{organizationId}/loans/{confirmRepaymentLoanId}:
    servers:
    - description: platform.copper.co
      url: https://api.copper.co/platform
    - description: demo.copper.co
      url: https://api.stage.copper.co/platform
    - description: testnet.copper.co
      url: https://api.testnet.copper.co/platform
    patch:
      description: Confirm the external repayment of an off-platform managed loan. Only the lender can carry out this action.
      parameters:
      - description: application/vnd.confirm-external-repayment+json
        in: header
        name: Content-Type
        required: false
        schema:
          type: string
      - in: path
        name: organizationId
        required: true
        schema:
          type: string
      - in: path
        name: confirmRepaymentLoanId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/vnd.confirm-external-repayment+json:
            schema:
              $ref: '#/components/schemas/ActionLoan'
      responses:
        '200':
          content:
            application/vnd.confirm-external-repayment+json:
              schema:
                $ref: '#/components/schemas/Loan'
          description: OK
        '400':
          content:
            application/json:
              schema:
                properties:
                  error:
                    description: The machine-readable error code
                    examples:
                    - bad-request
                    type: string
                  message:
                    description: A human-readable message providing more details about the error
                    type: string
                type: object
          description: Bad Request
        '403':
          content:
            application/json:
              schema:
                properties:
                  error:
                    description: The machine-readable error code
                    examples:
                    - forbidden
                    type: string
                  message:
                    description: A human-readable message providing more details about the error
                    type: string
                type: object
          description: Forbidden
        '409':
          content:
            application/json:
              schema:
                properties:
                  error:
                    description: The machine-readable error code
                    examples:
                    - conflict
                    type: string
                  message:
                    description: A human-readable message providing more details about the error
                    type: string
                type: object
          description: Conflict
      summary: Confirm External Repayment
      tags:
      - lending
  /organizations/{organizationId}/loans/{confirmTopUpLoanId}:
    servers:
    - description: platform.copper.co
      url: https://api.copper.co/platform
    - description: demo.copper.co
      url: https://api.stage.copper.co/platform
    - description: testnet.copper.co
      url: https://api.testnet.copper.co/platform
    patch:
      description: Confirm the external top up of an off-platform managed loan. Only the lender can carry out this action.
      parameters:
      - description: application/vnd.confirm-external-top-up+json
        in: header
        name: Content-Type
        required: false
        schema:
          type: string
      - in: path
        name: organizationId
        required: true
        schema:
          type: string
      - in: path
        name: confirmTopUpLoanId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/vnd.confirm-external-top-up+json:
            schema:
              $ref: '#/components/schemas/ActionLoan'
      responses:
        '200':
          content:
            application/vnd.confirm-external-top-up+json:
              schema:
                $ref: '#/components/schemas/Loan'
          description: OK
        '400':
          content:
            application/json:
              schema:
                properties:
                  error:
                    description: The machine-readable error code
                    examples:
                    - bad-request
                    type: string
                  message:
                    description: A human-readable message providing more details about the error
                    type: string
                type: object
          description: Bad Request
        '403':
          content:
            application/json:
              schema:
                properties:
                  error:
                    description: The machine-readable error code
                    examples:
                    - forbidden
                    type: string
                  message:
                    description: A human-readable message providing more details about the error
                    type: string
                type: object
          description: Forbidden
        '409':
          content:
            application/json:
              schema:
                properties:
                  error:
                    description: The machine-readable error code
                    examples:
                    - conflict
                    type: string
                  message:
                    description: A human-readable message providing more details about the error
                    type: string
                type: object
          description: Conflict
      summary: Confirm External Top Up
      tags:
      - lending
  /organizations/{organizationId}/loans/{defaultLoanId}:
    servers:
    - description: platform.copper.co
      url: https://api.copper.co/platform
    - description: demo.copper.co
      url: https://api.stage.copper.co/platform
    - description: testnet.copper.co
      url: https://api.testnet.copper.co/platform
    patch:
      description: Default a loan that is in a defaultable state. This action can only be carried out by the lender.
      parameters:
      - description: application/vnd.default-loan+json
        in: header
        name: Content-Type
        required: false
        schema:
          type: string
      - in: path
        name: organizationId
        required: true
        schema:
          type: string
      - in: path
        name: defaultLoanId
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/vnd.default-loan+json:
              schema:
                $ref: '#/components/schemas/Loan'
          description: OK
        '400':
          content:
            application/json:
              schema:
                properties:
                  error:
                    description: The machine-readable error code
                    examples:
                    - bad-request
                    type: string
                  message:
                    description: A human-readable message providing more details about the error
                    type: string
                type: object
          description: Bad Request
        '403':
          content:
            application/json:
              schema:
                properties:
                  error:
                    description: The machine-readable error code
                    examples:
                    - forbidden
                    type: string
                  message:
                    description: A human-readable message providing more details about the error
                    type: string
                type: object
          description: Forbidden
        '409':
          content:
            application/json:
              schema:
                properties:
                  error:
                    description: The machine-readable error code
                    examples:
                    - conflict
                    type: string
                  message:
                    description: A human-readable message providing more details about the error
                    type: string
                type: object
          description: Conflict
      summary: Default Loan
      tags:
      - lending
  /organizations/{organizationId}/loans/{estimateLeverageLoanId}:
    servers:
    - description: platform.copper.co
      url: https://api.copper.co/platform
    - description: demo.copper.co
      url: https://api.stage.copper.co/platform
    - description: testnet.copper.co
      url: https://api.testnet.copper.co/platform
    patch:
      description: Obtain an estimated loan leverage ratio after taking into account requested loan amount and/or collateral amount adjustments.
      parameters:
      - description: application/vnd.estimate-loan-leverage-ratio+json
        in: header
        name: Content-Type
        required: false
        schema:
          type: string
      - in: path
        name: organizationId
        required: true
        schema:
          type: string
      - in: path
        name: estimateLeverageLoanId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/vnd.estimate-loan-leverage-ratio+json:
            schema:
              $ref: '#/components/schemas/EstimateLoanLeverageRatio'
      responses:
        '200':
          content:
            application/vnd.estimate-loan-leverage-ratio+json:
              schema:
                $ref: '#/components/schemas/Loan'
          description: OK
        '400':
          content:
            application/json:
              schema:
                properties:
                  error:
                    description: The machine-readable error code
                    examples:
                    - bad-request
                    type: string
                  message:
                    description: A human-readable message providing more details about the error
                    type: string
                type: object
          description: Bad Request
        '403':
          content:
            application/json:
              schema:
                properties:
                  error:
                    description: The machine-readable error code
                    examples:
                    - forbidden
                    type: string
                  message:
                    description: A human-readable message providing more details about the error
                    type: string
                type: object
          description: Forbidden
        '409':
          content:
            application/json:
              schema:
                properties:
                  error:
                    description: The machine-readable error code
                    examples:
                    - conflict
                    type: string
                  message:
                    description: A human-readable message providing more details about the error
                    type: string
                type: object
          description: Conflict
      summary: Estimate Loan Leverage Ratio
      tags:
      - lending
  /organizations/{organizationId}/loans/{estimateLtvLoanId}:
    servers:
    - description: platform.copper.co
      url: https://api.copper.co/platform
    - description: demo.copper.co
      url: https://api.stage.copper.co/platform
    - description: testnet.copper.co
      url: https://api.testnet.copper.co/platform
    patch:
      description: Obtain an estimated loan LTV after taking into account requested loan amount and/or collateral amount adjustments.
      parameters:
      - description: application/vnd.estimate-loan-ltv+json
        in: header
        name: Content-Type
        required: false
        schema:
          type: string
      - in: path
        name: organizationId
        required: true
        schema:
          type: string
      - in: path
        name: estimateLtvLoanId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/vnd.estimate-loan-ltv+json:
            schema:
              $ref: '#/components/schemas/EstimateLoanLtv'
      responses:
        '200':
          content:
            application/vnd.estimate-loan-ltv+json:
              schema:
                $ref: '#/components/schemas/Loan'
          description: OK
        '400':
          content:
            application/json:
              schema:
                properties:
                  error:
                    description: The machine-readable error code
                    examples:
                    - bad-request
                    type: string
                  message:
                    description: A human-readable message providing more details about the error
                    type: string
                type: object
          description: Bad Request
        '403':
          content:
            application/json:
              schema:
                properties:
                  error:
                    description: The machine-readable error code
                    examples:
                    - forbidden
                    type: string
                  message:
                    description: A human-readable message providing more details about the error
                    type: string
                type: object
          description: Forbidden
        '409':
          content:
            application/json:
              schema:
                properties:
                  error:
                    description: The machine-readable error code
                    examples:
                    - conflict
                    type: string
                  message:
                    description: A human-readable message providing more details about the error
                    type: string
                type: object
          description: Conflict
      summary: Estimate Loan LTV
      tags:
      - lending
  /organizations/{organizationId}/loans/{extendTermLoanId}:
    servers:
    - description: platform.copper.co
      url: https://api.copper.co/platform
    - description: demo.copper.co
      url: https://api.stage.copper.co/platform
    - description: testnet.copper.co
      url: https://api.testnet.copper.co/platform
    patch:
      description: Request loan term extension. Loan term extension can only be requested within five days of the loan reaching maturity. This request can be initiated by either the borrower or the lender. The resulting request needs to be accepted by the counterparty.
      parameters:
      - description: application/vnd.extend-loan-term+json
        in: header
        name: Content-Type
        required: false
        schema:
          type: string
      - in: path
        name: organizationId
        required: true
        schema:
          type: string
      - in: path
        name: extendTermLoanId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/vnd.extend-loan-term+json:
            schema:
              $ref: '#/components/schemas/ExtendLoan'
      responses:
        '200':
          content:
            application/vnd.extend-loan-term+json:
              schema:
                $ref: '#/components/schemas/Loan'
          description: OK
        '400':
          content:
            application/json:
              schema:
                properties:
                  error:
                    description: The machine-readable error code
                    examples:
                    - bad-request
                    type: string
                  message:
                    description: A human-readable message providing more details about the error
                    type: string
                type: object
          description: Bad Request
        '403':
          content:
            application/json:
              schema:
                properties:
                  error:
                    description: The machine-readable error code
                    examples:
                    - forbidden
                    type: string
                  message:
                    description: A human-readable message providing more details about the error
                    type: string
                type: object
          description: Forbidden
        '409':
          content:
            application/json:
              schema:
                properties:
                  error:
                    description: The machine-readable error code
                    examples:
                    - conflict
                    type: string
                  message:
                    description: A human-readable message providing more details about the error
                    type: string
                type: object
          description: Conflict
      summary: Extend Loan Term
      tags:
      - lending
  /organizations/{organizationId}/loans/{loanId}:
    servers:
    - description: platform.copper.co
      url: https://api.copper.co/platform
    - description: demo.copper.co
      url: https://api.stage.copper.co/platform
    - description: testnet.copper.co
      url: https://api.testnet.copper.co/platform
    get:
      description: Retrieve a loan by its ID
      parameters:
      - description: Flag indicating if collaterals should be included in embedded
        in: query
        name: includeCollaterals
        required: false
        schema:
          default: 'false'
          type: boolean
      - description: Flag indicating if counterparties should be included in embedded
        in: query
        name: includeCounterparties
        required: false
        schema:
          default: 'false'
          type: boolean
      - description: Flag indicating if allocations should be included in embedded
        in: query
        name: includeLoanAllocations
        required: false
        schema:
          default: 'false'
          type: boolean
      - in: path
        name: organizationId
        required: true
        schema:
          type: string
      - in: path
        name: loanId
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Loan'
          description: OK
        '400':
          content:
            application/json:
              schema:
                properties:
                  error:
                    description: The machine-readable error code
                    examples:
                    - bad-request
                    type: string
                  message:
                    description: A human-readable message providing more details about the error
                    type: string
                type: object
          description: Bad Request
        '403':
          content:
            application/json:
              schema:
                properties:
                  error:
                    description: The machine-readable error code
                    examples:
                    - forbidden
                    type: string
                  message:
                    description: A human-readable message providing more details about the error
                    type: string
                type: object
          description: Forbidden
        '409':
          content:
            application/json:
              schema:
                properties:
                  error:
                    description: The machine-readable error code
                    examples:
                    - conflict
                    type: string
                  message:
                    description: A human-readable message providing more details about the error
                    type: string
                type: object
          description: Conflict
      summary: Get Loan by ID
      tags:
      - lending
  /organizations/{organizationId}/loans/{payInterestLoanId}:
    servers:
    - description: platform.copper.co
      url: https://api.copper.co/platform
    - description: demo.copper.co
      url: https://api.stage.copper.co/platform
    - description: testnet.copper.co
      url: https://api.testnet.copper.co/platform
    patch:
      description: Create an interest payment request.
      parameters:
      - description: application/vnd.pay-loan-interest+json
        in: header
        name: Content-Type
        required: false
        schema:
          type: string
      - in: path
        name: organizationId
        required: true
        schema:
          type: string
      - in: path
        name: payInterestLoanId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/vnd.pay-loan-interest+json:
            schema:
              $ref: '#/components/schemas/PayInterest'
      responses:
        '200':
          content:
            application/vnd.pay-loan-interest+json:
              schema:
                $ref: '#/components/schemas/Loan'
          description: OK
        '400':
          content:
            application/json:
              schema:
                properties:
                  error:
                    description: The machine-readable error code
                    examples:
                    - bad-request
                    type: string
                  message:
                    description: A human-readable message providing more details about the error
                    type: string
                type: object
          description: Bad Request
        '403':
          content:
            application/json:
              schema:
                properties:
                  error:
                    description: The machine-readable error code
                    examples:
                    - forbidden
                    type: string
                  message:
                    description: A human-readable message providing more details about the error
                    type: string
                type: object
          description: Forbidden
        '409':
          content:
            application/json:
              schema:
                properties:
                  error:
                    description: The machine-readable error code
                    examples:
                    - conflict
                    type: string
                  message:
                    description: A human-readable message providing more details about the error
                    type: string
                type: object
          description: Conflict
      summary: Pay Loan Interest
      tags:
      - lending
  /organizations/{organizationId}/loans/{rebalanceLoanId}:
    servers:
    - description: platform.copper.co
      url: https://api.copper.co/platform
    - description: demo.copper.co
      url: https://api.stage.copper.co/platform
    - description: testnet.copper.co
      url: https://api.testnet.copper.co/platform
    patch:
      description: Create a loan rebalance request. This action can only be carried out by the borrower and must be accepted by the lender.
      parameters:
      - description: application/vnd.rebalance-loan+json
        in: header
        name: Content-Type
        required: false
        schema:
          type: string
      - in: path
        name: organizationId
        required: true
        schema:
          type: string
      - in: path
        name: rebalanceLoanId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/vnd.rebalance-loan+json:
            schema:
              $ref: '#/components/schemas/RebalanceLoan'
      responses:
        '200':
          content:
            application/vnd.rebalance-loan+json:
              schema:
                $ref: '#/components/schemas/Loan'
          description: OK
        '400':
          content:
            application/json:
              schema:
                properties:
                  error:
                    description: The machine-readable error code
                    examples:
                    - bad-request
                    type: string
                  message:
                    description: A human-readable message providing more details about the error
                    type: string
                type: object
          description: Bad Request
        '403':
          content:
            application/json:
              schema:
                properties:
                  error:
                    description: The machine-readable error code
                    examples:
                    - forbidden
                    type: string
                  message:
                    description: A human-readable message providing more details about the error
                    type: string
                type: object
          description: Forbidden
        '409':
          content:
            application/json:
              schema:
                properties:
                  error:
                    description: The machine-readable error code
                    examples:
                    - conflict
                    type: string
                  message:
                    description: A human-readable message providing more details about the error
                    type: string
                type: object
          description: Conflict
      summary: Rebalance Loan
      tags:
      - lending
  /organizations/{organizationId}/loans/{rejectLoanId}:
    servers:
    - description: platform.copper.co
      url: https://api.copper.co/platform
    - description: demo.copper.co
      url: https://api.stage.copper.co/platform
    - description: testnet.copper.co
      url: https://api.testnet.copper.co/platform
    patch:
      description: Reject a loan. This action can only be carried out by the lender if a loan is in awaiting-approval state.
      parameters:
      - description: application/vnd.reject-loan+json
        in: header
        name: Content-Type
        required: false
        schema:
          type: string
      - in: path
        name: organizationId
        required: true
        schema:
          type: string
      - in: path
        name: rejectLoanId
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/vnd.reject-loan+json:
              schema:
                $ref: '#/components/schemas/Loan'
          description: OK
        '400':
          content:
            application/json:
              schema:
                properties:
                  error:
                    description: The machine-readable error code
                    examples:
                    - bad-request
                    type: string
                  message:
                    description: A human-readable message providing more details about the error
                    type: string
                type: object
          description: Bad Request
        '403':
          content:
            application/json:
              schema:
                properties:
                  error:
                    description: The machine-readable error code
                    examples:
                    - forbidden
                    type: string
                  message:
                    description: A human-readable message providing more details about the error
                    type: string
                type: object
          description: Forbidden
        '409':
          content:
            application/json:
              schema:
                properties:
                  error:
                    description: The machine-readable error code
                    examples:
                    - conflict
                    type: string
                  message:
                    description: A human-readable message providing more details about the error
                    type: string
                type: object
          description: Conflict
      summary: Reject Loan
      tags:
      - lending
  /organizations/{organizationId}/loans/{repayLoanId}:
    servers:
    - description: platform.copper.co
      url: https://api.copper.co/platform
    - description: demo.copper.co
      url: https://api.stage.copper.co/platform
    - description: testnet.copper.co
      url: https://api.testnet.copper.co/platform
    patch:
      description: Request the partial or full repayment of a loan. This request can be initiated by either the borrower or the lender. The resulting request needs to be accepted by the counterparty.
      parameters:
      - description: application/vnd.repay-loan+json
        in: header
        name: Content-Type
        required: false
        schema:
          type: string
      - in: path
        name: organizationId
        required: true
        schema:
          type: string
      - in: path
        name: repayLoanId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/vnd.repay-loan+json:
            schema:
              $ref: '#/components/schemas/RepayLoan'
      responses:
        '200':
          content:
            application/vnd.repay-loan+json:
              schema:
                $ref: '#/components/schemas/Loan'
          description: OK
        '400':
          content:
            application/json:
              schema:
                properties:
                  error:
                    description: The machine-readable error code
                    examples:
                    - bad-request
                    type: string
                  message:
                    description: A human-readable message providing more details about the error
                    type: string
                type: object
          description: Bad Request
        '403':
          content:
            application/json:
              schema:
                properties:
                  error:
                    description: The machine-readable error code
                    examples:
                    - forbidden
                    type: string
                  message:
                    description: A human-readable message providing more details about the error
                    type: string
                type: object
          description: Forbidden
        '409':
          content:
            application/json:
              schema:
                properties:
                  error:
                    description: The machine-readable error code
                    examples:
                    - conflict
                    type: string
                  message:
                    description: A human-readable message providing more details about the error
                    type: string
                type: object
          description: Conflict
      summary: Repay Loan
      tags:
      - lending
  /organizations/{organizationId}/loans/{rerateLoanId}:
    servers:
    - description: platform.copper.co
      url: https://api.copper.co/platform
    - description: demo.copper.co
      url: https://api.stage.copper.co/platform
    - description: testnet.copper.co
      url: https://api.testnet.copper.co/platform
    patch:
      description: Request a new loan interest rerate. The new interest rate must be stated in BPS. This action can only be carried out by the lender.
      parameters:
      - description: application/vnd.rerate-loan+json
        in: header
        name: Content-Type
        required: false
        schema:
          type: string
      - in: path
        name: organizationId
        required: true
        schema:
          type: string
      - in: path
        name: rerateLoanId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/vnd.rerate-loan+json:
            schema:
              $ref: '#/components/schemas/RerateLoan'
      responses:
        '200':
          content:
            application/vnd.rerate-loan+json:
              schema:
                $ref: '#/components/schemas/Loan'
          description: OK
        '400':
          content:
            application/json:
              schema:
                properties:
                  error:
                    description: The machine-readable error code
                    examples:
                    - bad-request
                    type: string
                  message:
                    description: A human-readable message providing more details about the error
                    type: string
                type: object
          description: Bad Request
        '403':
          content:
            application/json:
              schema:
                properties:
                  error:
                    description: The machine-readable error code
                    examples:
                    - forbidden
                    type: string
                  message:
                    description: A human-readable message providing more details about the error
                    type: string
                type: object
          description: Forbidden
        '409':
          content:
            application/json:
              schema:
                properties:
                  error:
                    description: The machine-readable error code
                    examples:
                    - conflict
                    type: string
                  message:
                    description: A human-readable message providing more details about the error
                    type: string
                type: object
          description: Conflict
      summary: Rerate Loan
      tags:
      - lending
  /organizations/{organizationId}/loans/{secureCollateralLoanId}:
    servers:
    - description: platform.copper.co
      url: https://api.copper.co/platform
    - description: demo.copper.co
      url: https://api.stage.copper.co/platform
    - description: testnet.copper.co
      url: https://api.testnet.copper.co/platform
    patch:
      description: Secure collateral for a loan. This action can only be carried out by the borrower and should be invoked for both initial and subsequent collateral top ups.
      parameters:
      - description: application/vnd.secure-collateral+json
        in: header
        name: Content-Type
        required: false
        schema:
          type: string
      - in: path
        name: organizationId
        required: true
        schema:
          type: string
      - in: path
        name: secureCollateralLoanId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/vnd.secure-collateral+json:
            schema:
              $ref: '#/components/schemas/AddCollateral'
      responses:
        '200':
          content:
            application/vnd.secure-collateral+json:
              schema:
                $ref: '#/components/schemas/Loan'
          description: OK
        '400':
          content:
            application/json:
              schema:
                properties:
                  error:
                    description: The machine-readable error code
                    examples:
                    - bad-request
                    type: string
                  message:
                    description: A human-readable message providing more details about the error
                    type: string
                type: object
          description: Bad Request
        '403':
          content:
            application/json:
              schema:
                properties:
                  error:
                    description: The machine-readable error code
                    examples:
                    - forbidden
                    type: string
                  message:
                    description: A human-readable message providing more details about the error
                    type: string
                type: object
          description: Forbidden
        '409':
          content:
            application/json:
              schema:
                properties:
                  error:
                    description: The machine-readable error code
                    examples:
                    - conflict
                    type: string
                  message:
                    description: A human-readable message providing more details about the error
                    type: string
                type: object
          description: Conflict
      summary: Secure Collateral Loan
      tags:
      - lending
  /organizations/{organizationId}/loans/{topUpLoanId}:
    servers:
    - description: platform.copper.co
      url: https://api.copper.co/platform
    - description: demo.copper.co
      url: https://api.stage.copper.co/platform
    - description: testnet.copper.co
      url: https://api.testnet.copper.co/platform
    patch:
      description: Request a loan top up. This action can only be carried out by the lender and must be accepted by the borrower.
      parameters:
      - description: application/vnd.top-up-loan+json
        in: header
        name: Content-Type
        required: false
        schema:
          type: string
      - in: path
        name: organizationId
        required: true
        schema:
          type: string
      - in: path
        name: topUpLoanId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/vnd.top-up-loan+json:
            schema:
              $ref: '#/components/schemas/TopUpLoan'
      responses:
        '200':
          content:
            application/vnd.top-up-loan+json:
              schema:
                $ref: '#/components/schemas/Loan'
          description: OK
        '400':
          content:
            application/json:
              schema:
                properties:
                  error:
                    description: The machine-readable error code
                    examples:
                    - bad-request
                    type: string
                  message:
                    description: A human-readable message providing more details about the error
                    type: string
                type: object
          description: Bad Request
        '403':
          content:
            application/json:
              schema:
                properties:
                  error:
                    description: The machine-readable error code
                    examples:
                    - forbidden
                    type: string
                  message:
                    description: A human-readable message providing more details about the error
                    type: string
                type: object
          description: Forbidden
        '409':
          content:
            application/json:
              schema:
                properties:
                  error:
                    description: The machine-readable error code
                    examples:
                    - conflict
                    type: string
                  message:
                    description: A human-readable message providing more details about the error
                    type: string
                type: object
          description: Conflict
      summary: Top Up Loan
      tags:
      - lending
  /organizations/{organizationId}/loans/{cancelDefaultLoanId}:
    servers:
    - description: platform.copper.co
      url: https://api.copper.co/platform
    - description: demo.copper.co
      url: https://api.stage.copper.co/platform
    - description: testnet.copper.co
      url: https://api.testnet.copper.co/platform
    patch:
      description: Cancel a default request for loan. This action can only be carried out by the lender.
      parameters:
      - description: application/vnd.cancel-loan-default+json
        in: header
        name: Content-Type
        required: false
        schema:
          type: string
      - in: path
        name: organizationId
        required: true
        schema:
          type: string
      - in: path
        name: cancelDefaultLoanId
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/vnd.cancel-loan-default+json:
              schema:
                $ref: '#/components/schemas/Loan_2'
          description: OK
        '400':
          content:
            application/json:
              schema:
                properties:
                  error:
                    description: The machine-readable error code
                    examples:
                    - bad-request
                    type: string
                  message:
                    description: A human-readable message providing more details about the error
                    type: string
                type: object
          description: Bad Request
        '403':
          content:
            application/json:
              schema:
                properties:
                  error:
[...]
