openapi: 3.2.0
info:
  description: Copper API is based on the REST API interface provided for data exchange between a client and a server with the use of HTTPS requests and responses.
  title: Copper Platform Reports API
  version: latest
servers:
- description: platform.copper.co
  url: https://api.copper.co/platform
- description: demo.copper.co
  url: https://api.stage.copper.co/platform
- description: testnet.copper.co
  url: https://api.testnet.copper.co/platform
tags:
- name: Reports
paths:
  /reports/lending:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateLendingReport'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Report'
          description: OK
        '400':
          content:
            application/json:
              schema:
                properties:
                  error:
                    description: The machine-readable error code
                    examples:
                    - bad-request
                    type: string
                  message:
                    description: A human-readable message providing more details about the error
                    type: string
                type: object
          description: Bad Request
        '403':
          content:
            application/json:
              schema:
                properties:
                  error:
                    description: The machine-readable error code
                    examples:
                    - forbidden
                    type: string
                  message:
                    description: A human-readable message providing more details about the error
                    type: string
                type: object
          description: Forbidden
        '409':
          content:
            application/json:
              schema:
                properties:
                  error:
                    description: The machine-readable error code
                    examples:
                    - conflict
                    type: string
                  message:
                    description: A human-readable message providing more details about the error
                    type: string
                type: object
          description: Conflict
      summary: Create Lending Report
      tags:
      - Reports
      operationId: postReportsLending
      x-operation-id-source: derived
  /reports/orders/net:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateOrdersNetReport'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Report'
          description: OK
        '400':
          content:
            application/json:
              schema:
                properties:
                  error:
                    description: The machine-readable error code
                    examples:
                    - bad-request
                    type: string
                  message:
                    description: A human-readable message providing more details about the error
                    type: string
                type: object
          description: Bad Request
        '403':
          content:
            application/json:
              schema:
                properties:
                  error:
                    description: The machine-readable error code
                    examples:
                    - forbidden
                    type: string
                  message:
                    description: A human-readable message providing more details about the error
                    type: string
                type: object
          description: Forbidden
        '409':
          content:
            application/json:
              schema:
                properties:
                  error:
                    description: The machine-readable error code
                    examples:
                    - conflict
                    type: string
                  message:
                    description: A human-readable message providing more details about the error
                    type: string
                type: object
          description: Conflict
      summary: Create Orders NET Report
      tags:
      - Reports
      operationId: postReportsOrdersNet
      x-operation-id-source: derived
  /reports/stake/orders:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateStakeOrdersReport'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Report'
          description: OK
        '400':
          content:
            application/json:
              schema:
                properties:
                  error:
                    description: The machine-readable error code
                    examples:
                    - bad-request
                    type: string
                  message:
                    description: A human-readable message providing more details about the error
                    type: string
                type: object
          description: Bad Request
        '403':
          content:
            application/json:
              schema:
                properties:
                  error:
                    description: The machine-readable error code
                    examples:
                    - forbidden
                    type: string
                  message:
                    description: A human-readable message providing more details about the error
                    type: string
                type: object
          description: Forbidden
        '409':
          content:
            application/json:
              schema:
                properties:
                  error:
                    description: The machine-readable error code
                    examples:
                    - conflict
                    type: string
                  message:
                    description: A human-readable message providing more details about the error
                    type: string
                type: object
          description: Conflict
      summary: Create Stake Orders Report
      tags:
      - Reports
      operationId: postReportsStakeOrders
      x-operation-id-source: derived
  /reports/stake/rewards:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateStakeRewardsReport'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Report'
          description: OK
        '400':
          content:
            application/json:
              schema:
                properties:
                  error:
                    description: The machine-readable error code
                    examples:
                    - bad-request
                    type: string
                  message:
                    description: A human-readable message providing more details about the error
                    type: string
                type: object
          description: Bad Request
        '403':
          content:
            application/json:
              schema:
                properties:
                  error:
                    description: The machine-readable error code
                    examples:
                    - forbidden
                    type: string
                  message:
                    description: A human-readable message providing more details about the error
                    type: string
                type: object
          description: Forbidden
        '409':
          content:
            application/json:
              schema:
                properties:
                  error:
                    description: The machine-readable error code
                    examples:
                    - conflict
                    type: string
                  message:
                    description: A human-readable message providing more details about the error
                    type: string
                type: object
          description: Conflict
      summary: Create Stake Rewards Report
      tags:
      - Reports
      operationId: postReportsStakeRewards
      x-operation-id-source: derived
  /reports/wallets/net-asset-values:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateWalletReport'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Report'
          description: OK
        '400':
          content:
            application/json:
              schema:
                properties:
                  error:
                    description: The machine-readable error code
                    examples:
                    - bad-request
                    type: string
                  message:
                    description: A human-readable message providing more details about the error
                    type: string
                type: object
          description: Bad Request
        '403':
          content:
            application/json:
              schema:
                properties:
                  error:
                    description: The machine-readable error code
                    examples:
                    - forbidden
                    type: string
                  message:
                    description: A human-readable message providing more details about the error
                    type: string
                type: object
          description: Forbidden
        '409':
          content:
            application/json:
              schema:
                properties:
                  error:
                    description: The machine-readable error code
                    examples:
                    - conflict
                    type: string
                  message:
                    description: A human-readable message providing more details about the error
                    type: string
                type: object
          description: Conflict
      summary: Create Position Statement Report
      tags:
      - Reports
      operationId: postReportsWalletsNetAssetValues
      x-operation-id-source: derived
  /reports/wallets/wallets-snapshots:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateWalletReport'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Report'
          description: OK
        '400':
          content:
            application/json:
              schema:
                properties:
                  error:
                    description: The machine-readable error code
                    examples:
                    - bad-request
                    type: string
                  message:
                    description: A human-readable message providing more details about the error
                    type: string
                type: object
          description: Bad Request
        '403':
          content:
            application/json:
              schema:
                properties:
                  error:
                    description: The machine-readable error code
                    examples:
                    - forbidden
                    type: string
                  message:
                    description: A human-readable message providing more details about the error
                    type: string
                type: object
          description: Forbidden
        '409':
          content:
            application/json:
              schema:
                properties:
                  error:
                    description: The machine-readable error code
                    examples:
                    - conflict
                    type: string
                  message:
                    description: A human-readable message providing more details about the error
                    type: string
                type: object
          description: Conflict
      summary: Create Balance Report
      tags:
      - Reports
      operationId: postReportsWalletsWalletsSnapshots
      x-operation-id-source: derived
components:
  schemas:
    OrderType:
      enum:
      - sell
      - buy
      - deposit
      - withdraw
      - multi-withdraw
      - wallet-message
      - retrieved-deposit
      - earn-reward
      - earn-shared-reward
      - claim-shared-reward
      - cross-chain-deposit
      - cross-chain-withdraw
      type: string
    Report:
      properties: {}
      type: object
    LendingReportType:
      enum:
      - outstanding-loans-report
      - loan-activity-report
      - loan-fees-report
      type: string
    CreateWalletReport:
      properties:
        dateFrom:
          description: Timestamp in milliseconds for the initial report entry
          type: string
        dateTo:
          description: Timestamp in milliseconds for the final report entry
          type: string
        portfolioIds:
          description: List of portfolio ids for the report
          examples:
          - portfolioId1,portfolioId2
          items:
            type: string
          type: array
        portfolioTypes:
          description: List of portfolio types for the report. [See details](/enums/PortfolioType)
          examples:
          - custody,external
          items:
            $ref: '#/components/schemas/PortfolioType'
          type: array
      required:
      - dateFrom
      - dateTo
      type: object
    NetReportType:
      enum:
      - transfers
      - orders
      - transactions
      - trading
      type: string
    CreateLendingReport:
      properties:
        fromDate:
          description: Optional date when provided the report will only contain lending information from this date onward (inclusive)
          type: string
        loanSide:
          $ref: '#/components/schemas/LoanSide'
          description: The loan side to filter by. [See details](/enums/LoanSide)
          examples:
          - lend,borrow
        organizationId:
          description: Unique ID of the organisation
          type: string
        reportType:
          $ref: '#/components/schemas/LendingReportType'
          description: The type of the report to generate. [See details](/enums/LendingReportType)
          examples:
          - outstanding-loans-report,loan-activity-report,loan-fees-report
        toDate:
          description: Optional date when provided the report will only contain lending information up to this date (inclusive)
          type: string
      required:
      - organizationId
      - reportType
      type: object
    CreateStakeOrdersReport:
      properties:
        portfolioIds:
          description: List of portfolio ids for the report
          examples:
          - portfolioId1,portfolioId2
          items:
            type: string
          type: array
        portfolioTypes:
          description: List of portfolio types for the report. [See details](/enums/PortfolioType)
          examples:
          - custody,external
          items:
            $ref: '#/components/schemas/PortfolioType'
          type: array
        reportType:
          $ref: '#/components/schemas/StakeReportTypes'
          description: Report type. [See details](/enums/StakeReportTypes)
        terminatedAtFrom:
          description: Timestamp in milliseconds of when orders were terminated from
          type: string
        terminatedAtTo:
          description: Timestamp in milliseconds of when orders were terminated to
          type: string
      required:
      - terminatedAtTo
      type: object
    PortfolioType:
      enum:
      - custody
      - trading-vault
      - trading
      - external
      - clearloop
      type: string
    CreateOrdersNetReport:
      properties:
        orderTypes:
          description: List of order types for the report. [See details](/enums/OrderType)
          examples:
          - buy,sell
          items:
            $ref: '#/components/schemas/OrderType'
          type: array
        portfolioIds:
          description: List of portfolio ids for the report
          examples:
          - portfolioId1,portfolioId2
          items:
            type: string
          type: array
        portfolioTypes:
          description: List of portfolio types for the report. [See details](/enums/PortfolioType)
          examples:
          - custody,external
          items:
            $ref: '#/components/schemas/PortfolioType'
          type: array
        reportType:
          $ref: '#/components/schemas/NetReportType'
          description: Group of orders to be included in the report. [See details](/enums/NetReportType)
        terminatedAtFrom:
          description: Timestamp in milliseconds of when orders were terminated from
          type: string
        terminatedAtTo:
          description: Timestamp in milliseconds of when orders were terminated to
          type: string
      required:
      - terminatedAtFrom
      - terminatedAtTo
      - reportType
      type: object
    LoanSide:
      enum:
      - lend
      - borrow
      type: string
    CreateStakeRewardsReport:
      properties:
        portfolioIds:
          description: List of portfolio ids for the report
          examples:
          - portfolioId1,portfolioId2
          items:
            type: string
          type: array
        portfolioTypes:
          description: List of portfolio types for the report. [See details](/enums/PortfolioType)
          examples:
          - custody,external
          items:
            $ref: '#/components/schemas/PortfolioType'
          type: array
        reportType:
          $ref: '#/components/schemas/StakeReportTypes'
          description: Report type. [See details](/enums/StakeReportTypes)
        terminatedAtFrom:
          description: Timestamp in milliseconds of when orders were terminated from
          type: string
        terminatedAtTo:
          description: Timestamp in milliseconds of when orders were terminated to
          type: string
      required:
      - terminatedAtTo
      - reportType
      type: object
    StakeReportTypes:
      enum:
      - rewards
      - staking-orders
      type: string
